/*-- scss:defaults --*/

// Dark mode overrides
$body-bg:             #2f2f2f;
$body-color:          #ccc;
$navbar-bg:           #2f2f2f !default;
$code-block-bg-alpha: -.9;
$navbar-hl:            var(--bs-nav-link-color) !default;